<div class="new-post">
    <h2>Edit Post</h2>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" value="{{post.title}}"/>
        </div>
        <div>
            <label for="post-story">Story</label>
            <input id="post-story" name="post-story" value="{{post.content}}"/>
        </div>
        <button type="submit" class="btn">Edit Post</button>
        <button type="button" id="delete">Delete Post</button>
    </form>
    <script src="/javascript/edit-post.js"></script>
    <script src="/javascript/delete-post.js"></script>
</div>