
<div class="post">
    <div class="title">
        <a href="">
            Cryptocurrencies endure
        </a>
    </div>
    <div class="meta">
        Many impetuous investors back cryptocurrencies when they trend up but are quick to drop them at the sligtest sign of fracture. Long-term investors of crypto who ride the peaks and valleys of the market see gains in the long run if they stay focused on delayed gratification.
    </div>
</div>
<div class="post">
    <div class="title">
        <a href="">
            Cryptocurrencies endure
        </a>
    </div>
    <div class="meta">
        Many impetuous investors back cryptocurrencies when they trend up but are quick to drop them at the sligtest sign of fracture. Long-term investors of crypto who ride the peaks and valleys of the market see gains in the long run if they stay focused on delayed gratification.
    </div>
</div>