<div class="new-post">
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-story">Story</label>
            <input id="post-story" name="post-story" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
    <script src="/javascript/new-post.js"></script>
</div>